.left{
    horiz-align: left;
}
.center{
    horiz-align:center;
}
.right{
    horiz-align:right;
}

.vertical-center{
    vertical-align: center;
}


.email-layout {
    text-orientation: sideways;
    /*orientation: horizontal;*/
    margin-bottom: 0;
    margin-top: 0;
}

.custom-label{
    color: #000000;
    margin: 0 50px;
}

.remove-button{
    color: red;
    text-align: center;
}


.header-button{
    width: 33%;
}
