.data-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: center;
  align-self: self-start;
}

.error {
  color: red;
  font-weight: bold;
  font-size: large;
}

.paragraph {
  color: black;
  font-weight: bold;
  font-size: large;
}

.language-button {

}

.add-e-mail-btn {

}

.remove-e-mail-btn {

}

.qr-generation-btn {

}
