<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title> QR message generator </title>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css"/>
    <script language="JavaScript" src="main.js" type="application/javascript"></script>
    <script type="text/javascript" src="davidshimjs-qrcodejs/jquery.min.js"></script>
    <script language="JavaScript" src="davidshimjs-qrcodejs/qrcode.js" type="application/javascript"></script>
    <noscript> you need javascript to continue </noscript>
<body>
<div>
    <!--region email setting-->
    <div  class="center">
        <label for="newEmail" class="vertical-center left custom-label">new e-mail</label>
        <input type='text' placeholder="Enter new e-mail" class="vertical-center right" id="newEmail"/>
        <br>
        <div id="emailListDiv">
        </div>
        <label for="addEmailBtn" class="vertical-center left custom-label"></label>
        <button id="addEmailBtn" class="vertical-center right">Add e-mail</button>
    <!--endregion-->

    <!-- region subject -->
    <br>
    <br>
    <br>
    <label for="subject" class="vertical-center left custom-label">Subject</label>
    <input type="text" id="subject" placeholder="Enter e-mail subject" class="vertical-center right" value="QR code scanned."/>
    <!-- endregion -->

    <!-- region email   -->
    <br>
    <br>
    <br>
    <label for="message" class="vertical-center left custom-label">Message</label>
    <textarea id="message" placeholder="Enter e-mail message" rows="10" cols="50" class="bottom"></textarea>
    </div>
    <!--endregion-->


    <!--qr code view-->
    <br>
    <br>

    <label for="height" class="vertical-center left custom-label">QR code height</label>
    <input type="text" id="height" placeholder="200" value="200" class="vertical-center right size-input"/>
    <br>

    <label for="width" class="vertical-center left custom-label">QR code width</label>
    <input type="text" id="width" placeholder="200" value="200" class="vertical-center right size-input"/>
    <br>
    <br>

    <label for="generateQRBtn" class="vertical-center left custom-label"></label>
    <button id="generateQRBtn" class="generate-qr-btn">Generate QR</button>
    <br>
    <br>
    <label for="qrCode" class="vertical-center left custom-label"></label>
    <div id="qrCode" class="qr-display vertical-center right" ></div>
    <!--endregion-->
</div>
<script language="JavaScript" type="application/javascript">
    let emailList = [];
    document.addEventListener('DOMContentLoaded', init, false);
</script>
</body>
</html>
